In [2]:
import os
# Find the latest version of spark 2.0  from http://www-us.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.0.0'
spark_version = 'spark-3.0.1'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www-us.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

Get:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Ign:3 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:4 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Get:5 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Hit:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:8 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Hit:9 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:11 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:12 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:13 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:14 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:15 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,716 kB]
Get:16 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,149 kB]
Get:17 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [878 kB]
Fetched 5,015 kB in 6s (900 kB/s)
Reading package lists... Done

In [3]:
# Download the Postgres driver that will allow Spark to interact with Postgres.
!wget https://jdbc.postgresql.org/download/postgresql-42.2.16.jar

--2021-01-24 02:04:13--  https://jdbc.postgresql.org/download/postgresql-42.2.16.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1002883 (979K) [application/java-archive]
Saving to: ‘postgresql-42.2.16.jar’

postgresql-42.2.16. 100%[===================>] 979.38K  1.21MB/s    in 0.8s

2021-01-24 02:04:15 (1.21 MB/s) - ‘postgresql-42.2.16.jar’ saved [1002883/1002883]

In [4]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Vine_Review_Analysis").config("spark.driver.extraClassPath","/content/postgresql-42.2.16.jar").getOrCreate()

In [5]:
from pyspark import SparkFiles
url = "https://s3.amazonaws.com/amazon-reviews-pds/tsv/amazon_reviews_us_Outdoors_v1_00.tsv.gz"
spark.sparkContext.addFile(url)
df = spark.read.option("encoding", "UTF-8").csv(SparkFiles.get("amazon_reviews_us_Outdoors_v1_00.tsv.gz"), sep="\t", header=True, inferSchema=True)
df.show()

+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-----------+
|marketplace|customer_id|     review_id|product_id|product_parent|       product_title|product_category|star_rating|helpful_votes|total_votes|vine|verified_purchase|     review_headline|         review_body|review_date|
+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-----------+
|         US|   18446823|R35T75OLUGHL5C|B000NV6H94|     110804376|Stearns Youth Boa...|        Outdoors|          4|            0|          0|   N|                Y|          Four Stars|          GOOD VALUE| 2015-08-31|
|         US|   13724367|R2BV735O46BN33|B000IN0W3Y|     624096774|Primal Wear Men's...|        Outdoors|          5|            0|          0|   N|                Y|          Five Stars|  Excellent quality.| 2015-08-31|
|         US|   51001958|R2NBEUGPQQGXP1|B008RBJXFM|     278970944|Osprey Hydraulics...|        Outdoors|          4|            0|          0|   N|                Y|Only Flaw Is The Cap|3rd season using ...| 2015-08-31|
|         US|   32866903|R17LLAOJ8ITK0S|B00FK8WUQY|     312877650|CamelBak eddy .75...|        Outdoors|          3|            1|          1|   N|                Y|Poor design leads...|poor construction...| 2015-08-31|
|         US|   30907790|R39PEQBT5ISEF4|B00EZA3VW0|     305567912|Children Black Re...|        Outdoors|          1|            0|          0|   N|                Y|Very bad quality,...|Very bad quality,...| 2015-08-31|
|         US|   20232229|R3GNM3SU9VHJFT|B006JA8WEG|     842306035|Ibera Bicycle Tri...|        Outdoors|          4|            1|          1|   N|                Y|Nice bag. Should ...|Nice bag. Should ...| 2015-08-31|
|         US|   17698862| R2Y81OP0EK467|B002PWFSEO|     451480122|Therm-a-Rest Comp...|        Outdoors|          5|            0|          0|   N|                Y|Very comfortable ...|Gave this to my s...| 2015-08-31|
|         US|   38486114|R2LFGSI6HAYH5F|B002DZGKHW|     124386306|Sawyer Products P...|        Outdoors|          5|            1|          1|   N|                Y| Worked like a charm|Went on vacation ...| 2015-08-31|
|         US|   26319572|R297G6ED1IQO7W|B00ABA08F6|     991442421|Zippo Hand Warmer...|        Outdoors|          5|            1|          1|   N|                Y|Great item. Gets ...|Great item. Gets ...| 2015-08-31|
|         US|   27152337| RE27RFC6101N6|B003Z8WIHC|     886483892|Camp Chef Dutch O...|        Outdoors|          5|            0|          0|   N|                Y|Great value for t...|I am so glad I bo...| 2015-08-31|
|         US|   12516845|R3BPDME6E94W8Z|B007CP6UK0|     150224054|3CERA Portable Wi...|        Outdoors|          5|            0|          0|   N|                Y|          Five Stars|        good to have| 2015-08-31|
|         US|    3225242|R2P08O1RILUOX3|B003V3U9JK|     343847969|Texsport King Kot...|        Outdoors|          3|            0|          0|   N|                Y|Cot set up inconv...|VERY difficult to...| 2015-08-31|
|         US|     961839|R37CVAB03PTDVI|B00Y846HN8|     858088629|Wallygadgets 2 Wh...|        Outdoors|          5|            0|          1|   N|                Y|          Five Stars|Thanks excellent ...| 2015-08-31|
|         US|   47796452| RAWNWOGXPCPMD|B00IYQ84VY|     474493517|RainStoppers 34-I...|        Outdoors|          5|            0|          0|   N|                Y|          Five Stars|This umbrella is ...| 2015-08-31|
|         US|   32004835| R5DYGP6ASX77M|B002MYCKLY|     920014456|Alpha Deluxe Port...|        Outdoors|          5|            0|          0|   N|                Y|          Five Stars|Love it !! I even...| 2015-08-31|
|         US|   23972939|R1O0SAOOGF2KG7|B00EZV69JG|     128489321|Speedfil Z4 BTA B...|        Outdoors|          4|            0|          0|   N|                Y|        Good enough.|This is a fine mo...| 2015-08-31|
|         US|   40889047|R35NJUT0U3MU3V|B00AWOT3T8|     571303876|O'Brien Kids Plat...|        Outdoors|          5|            0|          0|   N|                Y| Got Up on First Try|We just bought th...| 2015-08-31|
|         US|   11244387|R242C08MF9D1AH|B0000AXTID|     739769424|Kwik-Tek F-5R Pla...|        Outdoors|          5|            0|          0|   N|                Y|They go over an a...|I have these on m...| 2015-08-31|
|         US|   20121211| R3RYG8TJTO4E2|B00IFHFJXI|     984009972|Ivation Portable ...|        Outdoors|          5|            0|          0|   N|                Y|Greatest Item I b...|This is the best ...| 2015-08-31|
|         US|   25657249|R3IKH1DNY0CP9F|B00KFILTWU|     405521681|GreenInsync Repla...|        Outdoors|          2|            0|          0|   N|                Y|I received this p...|I received this p...| 2015-08-31|
+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-----------+
only showing top 20 rows

In [6]:
from pyspark.sql.functions import to_date, col
# Read in the Review dataset as a DataFrame

In [7]:
# Create the vine_table. DataFrame
vine_table_df = df.select(['review_id', 'star_rating', 'helpful_votes', 'total_votes', 'vine', 'verified_purchase'])
vine_table_df.show()

+--------------+-----------+-------------+-----------+----+-----------------+
|     review_id|star_rating|helpful_votes|total_votes|vine|verified_purchase|
+--------------+-----------+-------------+-----------+----+-----------------+
|R35T75OLUGHL5C|          4|            0|          0|   N|                Y|
|R2BV735O46BN33|          5|            0|          0|   N|                Y|
|R2NBEUGPQQGXP1|          4|            0|          0|   N|                Y|
|R17LLAOJ8ITK0S|          3|            1|          1|   N|                Y|
|R39PEQBT5ISEF4|          1|            0|          0|   N|                Y|
|R3GNM3SU9VHJFT|          4|            1|          1|   N|                Y|
| R2Y81OP0EK467|          5|            0|          0|   N|                Y|
|R2LFGSI6HAYH5F|          5|            1|          1|   N|                Y|
|R297G6ED1IQO7W|          5|            1|          1|   N|                Y|
| RE27RFC6101N6|          5|            0|          0|   N|                Y|
|R3BPDME6E94W8Z|          5|            0|          0|   N|                Y|
|R2P08O1RILUOX3|          3|            0|          0|   N|                Y|
|R37CVAB03PTDVI|          5|            0|          1|   N|                Y|
| RAWNWOGXPCPMD|          5|            0|          0|   N|                Y|
| R5DYGP6ASX77M|          5|            0|          0|   N|                Y|
|R1O0SAOOGF2KG7|          4|            0|          0|   N|                Y|
|R35NJUT0U3MU3V|          5|            0|          0|   N|                Y|
|R242C08MF9D1AH|          5|            0|          0|   N|                Y|
| R3RYG8TJTO4E2|          5|            0|          0|   N|                Y|
|R3IKH1DNY0CP9F|          2|            0|          0|   N|                Y|
+--------------+-----------+-------------+-----------+----+-----------------+
only showing top 20 rows

In [8]:
# 1. Filter the data and create a new DataFrame or table to retrieve all the rows where 
# the total_votes count is equal to or greater than 20 to pick reviews that are more likely 
# to be helpful and to avoid having division by zero errors later on.
new_df = vine_table_df.filter(col('total_votes') >= 20)
new_df.show()

+--------------+-----------+-------------+-----------+----+-----------------+
|     review_id|star_rating|helpful_votes|total_votes|vine|verified_purchase|
+--------------+-----------+-------------+-----------+----+-----------------+
|R2FP3U4NHNFNL2|          5|           25|         29|   N|                Y|
|R1UUK1977O38MU|          5|           31|         31|   N|                Y|
| RXO216LWUDV6O|          3|           29|         31|   N|                Y|
|R3NMJF7EBMM19V|          3|           26|         27|   N|                Y|
|R2ZY0ZBDUO0XUY|          3|           20|         21|   N|                Y|
| RBDVHX7PMQEKM|          5|           35|         39|   N|                Y|
| RGO3KSDXYWTGU|          4|           26|         26|   N|                Y|
|R2O4P39D0ALCQK|          2|           14|         43|   N|                Y|
|R1E1PQGHWGO3Q1|          1|           89|         96|   N|                Y|
|R1XOXXUVYZEDJB|          5|           22|         22|   N|                Y|
| R7SHITUU5UG9U|          5|           27|         27|   N|                Y|
|R230TLHU91M5Y3|          4|           21|         21|   N|                Y|
| RHR5MKO23K9TU|          5|           26|         30|   N|                Y|
|R1HGK3TCY161D7|          5|           52|         55|   N|                N|
|R340QYAVNZZHJA|          4|           25|         25|   N|                N|
|R2F1UVQK0JL4QH|          3|           20|         20|   N|                Y|
|R1N21UY546VWMN|          2|           48|         50|   N|                Y|
|R1E4L344EK0ZOT|          5|           20|         26|   N|                N|
|R282QUZDDJW3ON|          4|           45|         49|   N|                Y|
|R3H5T3T7QY3ZL2|          5|          247|        263|   N|                Y|
+--------------+-----------+-------------+-----------+----+-----------------+
only showing top 20 rows

In [9]:
# 2. Filter the new DataFrame or table created in Step 1 and create a new DataFrame or 
# table to retrieve all the rows where the number of helpful_votes divided by total_votes 
# is equal to or greater than 50%.
new_df_higher_50 = new_df[new_df["helpful_votes"] / new_df["total_votes"] >=0.5] 
new_df_higher_50.show()

# To verify, performed the code below:
new_df_higher_50.withColumn("my_column", new_df["helpful_votes"] / new_df["total_votes"]).show()

+--------------+-----------+-------------+-----------+----+-----------------+
|     review_id|star_rating|helpful_votes|total_votes|vine|verified_purchase|
+--------------+-----------+-------------+-----------+----+-----------------+
|R2FP3U4NHNFNL2|          5|           25|         29|   N|                Y|
|R1UUK1977O38MU|          5|           31|         31|   N|                Y|
| RXO216LWUDV6O|          3|           29|         31|   N|                Y|
|R3NMJF7EBMM19V|          3|           26|         27|   N|                Y|
|R2ZY0ZBDUO0XUY|          3|           20|         21|   N|                Y|
| RBDVHX7PMQEKM|          5|           35|         39|   N|                Y|
| RGO3KSDXYWTGU|          4|           26|         26|   N|                Y|
|R1E1PQGHWGO3Q1|          1|           89|         96|   N|                Y|
|R1XOXXUVYZEDJB|          5|           22|         22|   N|                Y|
| R7SHITUU5UG9U|          5|           27|         27|   N|                Y|
|R230TLHU91M5Y3|          4|           21|         21|   N|                Y|
| RHR5MKO23K9TU|          5|           26|         30|   N|                Y|
|R1HGK3TCY161D7|          5|           52|         55|   N|                N|
|R340QYAVNZZHJA|          4|           25|         25|   N|                N|
|R2F1UVQK0JL4QH|          3|           20|         20|   N|                Y|
|R1N21UY546VWMN|          2|           48|         50|   N|                Y|
|R1E4L344EK0ZOT|          5|           20|         26|   N|                N|
|R282QUZDDJW3ON|          4|           45|         49|   N|                Y|
|R3H5T3T7QY3ZL2|          5|          247|        263|   N|                Y|
|R3W1A1P95IIGHX|          5|           23|         25|   N|                N|
+--------------+-----------+-------------+-----------+----+-----------------+
only showing top 20 rows

+--------------+-----------+-------------+-----------+----+-----------------+------------------+
|     review_id|star_rating|helpful_votes|total_votes|vine|verified_purchase|         my_column|
+--------------+-----------+-------------+-----------+----+-----------------+------------------+
|R2FP3U4NHNFNL2|          5|           25|         29|   N|                Y|0.8620689655172413|
|R1UUK1977O38MU|          5|           31|         31|   N|                Y|               1.0|
| RXO216LWUDV6O|          3|           29|         31|   N|                Y|0.9354838709677419|
|R3NMJF7EBMM19V|          3|           26|         27|   N|                Y|0.9629629629629629|
|R2ZY0ZBDUO0XUY|          3|           20|         21|   N|                Y|0.9523809523809523|
| RBDVHX7PMQEKM|          5|           35|         39|   N|                Y|0.8974358974358975|
| RGO3KSDXYWTGU|          4|           26|         26|   N|                Y|               1.0|
|R1E1PQGHWGO3Q1|          1|           89|         96|   N|                Y|0.9270833333333334|
|R1XOXXUVYZEDJB|          5|           22|         22|   N|                Y|               1.0|
| R7SHITUU5UG9U|          5|           27|         27|   N|                Y|               1.0|
|R230TLHU91M5Y3|          4|           21|         21|   N|                Y|               1.0|
| RHR5MKO23K9TU|          5|           26|         30|   N|                Y|0.8666666666666667|
|R1HGK3TCY161D7|          5|           52|         55|   N|                N|0.9454545454545454|
|R340QYAVNZZHJA|          4|           25|         25|   N|                N|               1.0|
|R2F1UVQK0JL4QH|          3|           20|         20|   N|                Y|               1.0|
|R1N21UY546VWMN|          2|           48|         50|   N|                Y|              0.96|
|R1E4L344EK0ZOT|          5|           20|         26|   N|                N|0.7692307692307693|
|R282QUZDDJW3ON|          4|           45|         49|   N|                Y|0.9183673469387755|
|R3H5T3T7QY3ZL2|          5|          247|        263|   N|                Y|0.9391634980988594|
|R3W1A1P95IIGHX|          5|           23|         25|   N|                N|              0.92|
+--------------+-----------+-------------+-----------+----+-----------------+------------------+
only showing top 20 rows

In [10]:
# 3. Filter the DataFrame or table created in Step 2, and create a new DataFrame or 
# table that retrieves all the rows where a review was written as part of the Vine program (paid), vine == 'Y'.
new_df_vine_paid = new_df_higher_50[new_df_higher_50["vine"] == 'Y']
new_df_vine_paid.show()

+--------------+-----------+-------------+-----------+----+-----------------+
|     review_id|star_rating|helpful_votes|total_votes|vine|verified_purchase|
+--------------+-----------+-------------+-----------+----+-----------------+
|R3KPC0NBUDASX3|          5|           25|         25|   Y|                N|
|R119P2A95GGXX4|          5|           26|         28|   Y|                N|
|R1HKIRME8AJ89Z|          5|           79|         82|   Y|                N|
|R3FY3GMBGOBR22|          5|           12|         20|   Y|                N|
|R15KH3FBSVYGBU|          5|           32|         37|   Y|                N|
|R22XZEQLVLWW49|          5|           28|         33|   Y|                N|
|R2OIQYVAL9D63R|          4|           59|         65|   Y|                N|
|R1W3KCDHM6BMZT|          4|           37|         38|   Y|                N|
|R3KDMPS96IJ10R|          2|           15|         21|   Y|                N|
|R1XWEI58A7VKLB|          5|          123|        128|   Y|                N|
|R1CJWM6CMWKSA1|          4|           31|         33|   Y|                N|
|R39I3FUDBKZM3Y|          5|           34|         38|   Y|                N|
|R32LU0KSL7QWSF|          5|           35|         37|   Y|                N|
|R2LGDXO3MG2WQW|          5|           37|         41|   Y|                N|
|R16AVI2NTYWLKI|          5|           31|         33|   Y|                N|
|R12K0ITIV6AYM3|          5|           34|         34|   Y|                N|
| R9ILZLNNK93CO|          5|           38|         39|   Y|                N|
|R1CS8VSI1KSR1P|          5|           21|         22|   Y|                N|
|R186TCIH8TEGPY|          5|           40|         43|   Y|                N|
| R3GBQRR2GY4SP|          4|          119|        125|   Y|                N|
+--------------+-----------+-------------+-----------+----+-----------------+
only showing top 20 rows

In [26]:
# Checking the value types
new_df_vine_paid.dtypes

[('review_id', 'string'),
 ('star_rating', 'int'),
 ('helpful_votes', 'int'),
 ('total_votes', 'int'),
 ('vine', 'string'),
 ('verified_purchase', 'string')]

In [11]:
# 4. Repeat Step 3, but this time retrieve all the rows where the review was not part of the 
# Vine program (unpaid), vine == 'N'.
new_df_vine_unpaid = new_df_higher_50[new_df_higher_50["vine"] == 'N']
new_df_vine_unpaid.show()

+--------------+-----------+-------------+-----------+----+-----------------+
|     review_id|star_rating|helpful_votes|total_votes|vine|verified_purchase|
+--------------+-----------+-------------+-----------+----+-----------------+
|R2FP3U4NHNFNL2|          5|           25|         29|   N|                Y|
|R1UUK1977O38MU|          5|           31|         31|   N|                Y|
| RXO216LWUDV6O|          3|           29|         31|   N|                Y|
|R3NMJF7EBMM19V|          3|           26|         27|   N|                Y|
|R2ZY0ZBDUO0XUY|          3|           20|         21|   N|                Y|
| RBDVHX7PMQEKM|          5|           35|         39|   N|                Y|
| RGO3KSDXYWTGU|          4|           26|         26|   N|                Y|
|R1E1PQGHWGO3Q1|          1|           89|         96|   N|                Y|
|R1XOXXUVYZEDJB|          5|           22|         22|   N|                Y|
| R7SHITUU5UG9U|          5|           27|         27|   N|                Y|
|R230TLHU91M5Y3|          4|           21|         21|   N|                Y|
| RHR5MKO23K9TU|          5|           26|         30|   N|                Y|
|R1HGK3TCY161D7|          5|           52|         55|   N|                N|
|R340QYAVNZZHJA|          4|           25|         25|   N|                N|
|R2F1UVQK0JL4QH|          3|           20|         20|   N|                Y|
|R1N21UY546VWMN|          2|           48|         50|   N|                Y|
|R1E4L344EK0ZOT|          5|           20|         26|   N|                N|
|R282QUZDDJW3ON|          4|           45|         49|   N|                Y|
|R3H5T3T7QY3ZL2|          5|          247|        263|   N|                Y|
|R3W1A1P95IIGHX|          5|           23|         25|   N|                N|
+--------------+-----------+-------------+-----------+----+-----------------+
only showing top 20 rows

In [12]:
new_df_vine_unpaid.describe().show()

+-------+--------------+------------------+-----------------+------------------+-----+-----------------+
|summary|     review_id|       star_rating|    helpful_votes|       total_votes| vine|verified_purchase|
+-------+--------------+------------------+-----------------+------------------+-----+-----------------+
|  count|         39869|             39869|            39869|             39869|39869|            39869|
|   mean|          null|3.9113346208833932|51.20063207002934|55.641676490506406| null|             null|
| stddev|          null|1.4341466311949516|81.44929873777852| 84.96788842597194| null|             null|
|    min|R1005012T6NUTX|                 1|               10|                20|    N|                N|
|    max| RZZY3CIGHAJBL|                 5|             2703|              2751|    N|                Y|
+-------+--------------+------------------+-----------------+------------------+-----+-----------------+

In [14]:
# 5. Determine the total number of reviews: 
total_number_of_reviews = vine_table_df.count()
total_number_of_reviews

2302401

In [15]:
# The number of 5-star reviews:
five_star = vine_table_df[vine_table_df["star_rating"] == 5].count()
five_star

1434884

In [16]:
# The percentage of 5-star reviews for the paid review:
percent_five_star_paid = new_df_vine_paid[new_df_vine_paid["star_rating"] == 5].count() / new_df_vine_paid.count()
percent_five_star_paid

0.5233644859813084

In [27]:
# The percentage of 5-star reviews for the unpaid review:
percent_five_star_unpaid = new_df_vine_unpaid[new_df_vine_unpaid["star_rating"] == 5].count() / new_df_vine_unpaid.count()
percent_five_star_unpaid

0.5268504351751988

In [28]:
import pandas as pd

summary_df = pd.DataFrame({
    "5_star_percentage": [five_star / total_number_of_reviews],
    "paid_percentage": [percent_five_star_paid],
    "unpaid_percentage" : [percent_five_star_unpaid]
})

summary_df

   5_star_percentage  paid_percentage  unpaid_percentage
0           0.623212         0.523364            0.52685

In [34]:
# The total vine reviews:
total_vine_reviews = new_df_vine_paid.count()
total_vine_reviews

107

In [35]:
# The total non-vine reviews:
total_non_vine_reviews = new_df_vine_unpaid.count()
total_non_vine_reviews

39869

In [32]:
# The number of non-vine 5-star reviews:
non_vine_five_stars = new_df_vine_unpaid[new_df_vine_unpaid["star_rating"] == 5].count()
print(non_vine_five_stars)

21005

In [33]:
# The number of vine 5-star reviews:
vine_five_stars = new_df_vine_paid[new_df_vine_paid["star_rating"] == 5].count()
print(vine_five_stars)

56